*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Open Sans', sans-serif;
}

.main-container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    background-color: #f57b51;
    /* background-color: #b0eacd; */
    color:#f6eedf;
    padding: 4%;
    border: 2px solid #d1cebd;
}
.header{
    font-size: 3em;
    /* color: #21bf73; */
    color:#f6eedf;
    text-align: center;
    text-shadow: 2.5px 2px #d63447;
}
body{
    background-color: #d63447;
}
.mozilla-logo{
    display:block;
    height: 50%;
    margin: 0 auto;
}
p{
    margin-top: 2em;
}
.list-feature{
    padding:1.5em;
    padding-left: 2em;
    line-height: 2.3em;
}